div{
    display: inline-block;
    width: 1000px;
    padding: 40px;
    background-color: antiquewhite;
    margin: 100px calc(50% - 500px);
}
@media (max-width: 900px) {
   div{
    display: inline-block;
    width: 600px;
    background-color: blue;
    margin: 100px calc(50% - 400px);
}
   } 